.week-match-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 93vh;
  font-family: Arial, sans-serif;
  max-width: 968px;
  margin: 0 auto;
  padding: 0px;
  background-color: white;
  justify-content: center;
  border-radius: 8px;
}

.week-title {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.week-title span {
  color: #48A988;
  padding-right: 10px;
}

.week-info {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-between;
  padding: 10px 0;
}

.week-info p {
  font-size: 18px;
  color: #7F7F7F;
}

.match-table {
  width: 100%;
  max-width: 968px;
  border-collapse: collapse;
}

.match-table th {
  height: 58px;
  background-color: #61DCB2;
  color: white;
  padding: 10px;
  text-align: center;
  border: 2px solid white;
  font-size: 22px;
  font-weight: bold;
}

.match-table td {
  padding: 10px;
  text-align: center;
  background-color: #FBFBFB;
  border: 2px solid white;
  height: 8rem;
  color: black;
  font-size: 28px;
  font-weight: bold;
}

td span {
  color: #48A988;
}

.match-table thead tr th:first-child {
  border-top-left-radius: 10px;
}

.match-table thead tr th:last-child {
  border-top-right-radius: 10px;
}

.lunch-match td:first-child {
  border-bottom-left-radius: 10px;
}

.lunch-match td:last-child {
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 768px) {
  .week-match-container {
    width: 340px;
    align-items: start;
    padding: 10px;
    height: auto;
  }

  .week-title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .week-info p {
    font-size: 12px;
  }

  .match-table {
    width: 100%;
    margin-bottom: 20px;
  }

  .match-table th {
    height: 40px;
    font-size: 16px;
  }

  .match-table td {
    width: 58px;
    height: 82px;
    padding: 8px;
    font-size: 12px;
  }

  td.day-cell {
    width: 80px;
    background-color: #61DCB2;
    color: white;
    font-weight: bold;
    font-size: 14px;
  }

  td.lunch-cell {
    width: calc(100% - 80px);
    font-size: 16px;

    span {
      font-size: 12px;
    }
  }

  .friday-lunch {
    width: calc(100% - 80px);
  }

  .match-table tr:first-child td:first-child {
    border-top-left-radius: 10px;
  }

  .match-table tr:first-child td:last-child {
    border-top-right-radius: 10px;
  }

  .match-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }

  .match-table tr:last-child .friday-lunch {
    border-bottom-right-radius: 10px;
  }
}